#import sickbeard
#import datetime
#from sickbeard import downloader
#set global $title="Downloads"

#set global $sbPath=".."

#set global $topmenu="downloads"#
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" src="$sbRoot/js/downloads.js?$sbPID"></script>
<script type="text/javascript">
<!--
/*\$(document).ready(function() 
{ 
    \$("#downloadsTable:has(tbody tr)").tablesorter({
        widgets: ['zebra', 'stickyHeaders', 'filter'],
        sortList: [[0,1]],
        textExtraction: {
            4: function(node) { return \$(node).find("span").text().toLowerCase(); }
        }
    });
});*/
//-->
</script>
<style>
div.torrent_progress {
	height: 18px;
	position: relative;
}

div.torrent_progress_text {
	height: 100%;
	width: 100%;
    position: absolute;
	top: 0px;
    left: 0px;
    text-align: center;
}

div.torrent_progress_bar {
	height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #888;
    border: 1px solid #888; }
}

div.torrent_progress_bar.checking_resume_data {
}

div.torrent_progress_bar.queued_for_checking {
}

div.torrent_progress_bar.checking_files {
}

div.torrent_progress_bar.downloading_metadata {
}

div.torrent_progress_bar.downloading {
	background: rgb(228,245,252);
	background: -moz-linear-gradient(top, rgba(228,245,252,1) 0%, rgba(191,232,249,1) 50%, rgba(159,216,239,1) 51%, rgba(42,176,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(50%,rgba(191,232,249,1)), color-stop(51%,rgba(159,216,239,1)), color-stop(100%,rgba(42,176,237,1)));
	background: -webkit-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%);
	background: -o-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%);
	background: linear-gradient(to bottom, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 );
}

div.torrent_progress_bar.finished {
}

div.torrent_progress_bar.seeding {
	background: rgb(157,213,58);
	background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(51%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1)));
	background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: -o-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: -ms-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
}

div.torrent_progress_bar.allocating {
}
</style>

<table id="downloadsTable" class="tablesorter" cellspacing="1" border="0" cellpadding="0">
  <thead>
  <tr>
  	<th>Name</th>
  	<th>Status</th>
  	<th>Size</th>
  	<th>Progress</th>
  	<th>Ratio</th>
  	<th>Speeds</th>
  </tr></thead>
  <tbody id="downloadsTableBody">
  </tbody>
</table>

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
